body{
	background-color: rgb(209, 218, 249);
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  color:black;
}

form>* {
	color:  white;
}

.navbar-nav {
  margin-left: auto;
}

header{
  background-color: black;
}

h1{
  color: blue;
}
p{
  color: black;
}

h5{
  color: black;
}
footer {
  background-color:#182736;
  color:white;
}
footer #li{
  color:white;

}